@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Raleway/static/Raleway-Regular.ttf') format('.ttf');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Raleway/static/Raleway-Bold.ttf') format('.ttf'),
       url('/fonts/Raleway/static/Raleway-Bold.ttf') format('.ttf');
}

@font-face {
  font-family: 'maxwell';
  font-style: normal;
  font-weight: 400;
  src: local('maxwell'), local('maxwell-regular'),
       url('/fonts/maxwell/MAXWELL REGULAR.ttf') format('.ttf');
}


@font-face {
  font-family: 'maxwell';
  font-style: normal;
  font-weight: 700;
  src: local('maxwell bold'), local('maxwell-bold'), 
       url('/fonts/maxwell/MAXWELL BOLD.ttf') format('.ttf');
}

@font-face {
  font-family: Folks;
  src: url('https://www.vtxfactory.com/Folks-Normal.ttf') format('truetype');
}

.header {
  font-family:  "Folks", Helvetica, Arial, sans-serif
}

a {
  color: #3b8bba;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:visited {
  color: #265778;
}

.small-print {
  font-size: 0.8em;
  margin: 0.6em;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

#menu .brand {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.5em 0;
}
#menu .brand img {
  max-width: 95%;
}
#menu .pure-menu {
  font-size: 0.9em;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #265778;
}

img {
  max-width: 100%;
}
