<div>
  <div class="small-print">
    <small>{{ .Site.Copyright | safeHTML }}</small>
  </div>
  <div class="small-print">
    <small>Built with <a href="https://github.com/rstudio/blogdown" target="_blank">blogdown</a> and <a href="https://gohugo.io/" target="_blank">Hugo</a>. Theme <a href="https://github.com/yoshiharuyamashita/blackburn" target="_blank">Blackburn</a>. <!-- <a href="https://github.com/maelle/simplymaelle">Source of the website</a>.--></small>
  </div>
</div>