body, html {
  height: 100%;
  max-width: 100%;
}

h1, h2 {
  text-align: center;
  text-decoration: underline;
  margin: 1% auto;
}

.profilepic {
  display: block;
  width: 40%;
  margin: 1% auto;
  text-align: center;
}

@media only screen and (max-device-width: 1080px) {
  .profilepic {
    width: 90%;
  }
}

.about-block {
  display: block;
  padding-top: 1%;
}

p, h4 {
  width: 90%;
  margin: 1% auto;
}

.bg-custom-blue {
  background-color: #c8d9eb;
}

.bg-custom-orange {
    background-color: #33d17a;
}

.bg-custom-pink {
  background-color: #f0d9da;
}

.contact-icons {
  display: inline-block;
}

.footer-text {
  text-align: center;
  width: 100%;
}

.copyrighttext {
  text-align: center;
}

.footerbtn {
  display: inline-block;
  text-align: center;
}

.bodybtn {
   color: #f5c211;
}

